<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
   <%  if(n.name){%>
      
        <h2 class="name"><%=("Hello, ")+("")+n.name%></h2>
        
      <%}%>
    <i class="fas fa-key fa-6x key" ></i>
    

    <h1 class="display-3">You've Discovered My Secret!</h1>
 

    
     <%  if(n.name){%>
      
     
        <p class="secret-text"><%=n.secret%></p>
      <%}%>

    
     <%if(usersWithSecrets){%>
      <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
      <% }) %>
     <%}%>


    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>

